<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum - Home</title>
    <link rel="stylesheet" href="/static/category-log.css">
</head>

<body>
    <header>
        <a href="/logged" style="text-decoration: none; color: white;">
            <h1>Forum</h1>
        </a>
        <div class="header-buttons">
            <a href="/post">Post</a>
            <a href="/">Logout</a>
        </div>
    </header>
    <div class="main-content">
        {{if .IsPost}}
        <div class="welcome-message">
            <h1>Welcome back {{.User}}!!</h1>
        </div>
         <!-- My Posts Button -->
         <!-- Sidebar with Categories -->
         <div class="side-bar">
            <div class="my-posts-button">
               <a href="/my-posts">My Posts</a>
           </div>
            <h2>Categories</h2>
            <ul>
                <li><a href="/category/all">All</a></li>
                <li><a href="/category/logged/general">General</a></li>
                <li><a href="/category/logged/games">Games</a></li>
                <li><a href="/category/logged/sports">Sports</a></li>
                <li><a href="/category/logged/fashion">Fashion</a></li>
                <li><a href="/category/logged/travel">Travel</a></li>
                <li><a href="/category/logged/food">Food</a></li>
                <li><a href="/category/logged/health">Health</a></li>
            </ul>
        </div>
        <!-- Posts Container -->
        <div class="posts-container">

            {{range .PostData}}
            <div class="post">
                <h3>Posted by {{.Username}}</h3>
                <p>{{.Text}}</p>
                <p class="category">Category: {{.Category}}</p>
                <p><i>Posted on: {{.CreatedAt}}</i></p>
                <hr>
            </div>
            {{end}}
            {{else}}
            <div class="no-posts-message">
                <p>No posts found in this category!</p>
            </div>
            {{end}}
        </div>
    </div>
    <footer>
        <p>© 2024 Forum. All rights reserved.</p>
        <p><a href="/terms">Terms of Service</a> | <a href="/privacy">Privacy Policy</a></p>
    </footer>
</body>

</html>
